{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>📜 Alle Filme</h2>

    {% if not movies %}
        <p>Du hast noch keine Filme hinzugefügt oder bewertet.</p>
    {% else %}
        <div class="row">
            {% for movie in movies %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                       {% if movie.image_url %}
                            <img src="{{ movie.image_url }}" class="card-img-top" alt="{{ movie.title }}">
                        {% else %}
                            <img src="https://res.cloudinary.com/db9pb8opj/image/upload/v1737889807/ytk0jedy8jsbazczudbt.jpg" class="card-img-top" alt="Kein Bild verfügbar">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ movie.title }}</h5>
                            <p class="card-text">Erscheinungsjahr: {{ movie.release_year }}</p>

                            {% if movie.added_by_id == current_user.id %}
                                <p class="text-success">✨ Du hast diesen Film hinzugefügt</p>
                            {% elif movie in reviewed_movies %}
                                <p class="text-info">⭐ Du hast diesen Film bewertet</p>
                            {% endif %}

                            <a href="{{ url_for('movie_detail', movie_id=movie.id) }}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
